*{
    padding: 0;
    margin:0;
}
h2{
    margin:20px 0px 0px 10px;
}
.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;

    .carousel {
      display: flex;
      gap: 15px;
      overflow-x: auto;
      scroll-behavior: smooth;
      padding: 10px;
    }

    .carousel::-webkit-scrollbar {
      display: none;
    }
}

.movie-card {
  min-width: 250px;  
  max-width: 250px;
  flex-shrink: 0;     
  border-radius: 10px;
}
.arrow {
  position: absolute;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
  opacity: 0;
}
.carousel-wrapper:hover .arrow {
  opacity: 1;
}
.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}
.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

    .movie-title {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .movie-poster {
      width:150px;
      height:150px;
      border-radius: 8px;
      margin-bottom: 10px;
    }
    .rating {
      font-size: 1rem;
      font-weight: bold;
    }
  }

.overview {
  display: -webkit-box;
  font-style:justify;
  -webkit-line-clamp: 4;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.overview.expanded {
  -webkit-line-clamp: unset;
}

.see-more {
  background: #007BFF;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;

    .see-more:hover {
      background: #0056b3;
    }
  }

